/* ESTILOS PAGINA 'INICIO' */
.fondoInicio {

}

.fondoTituloInicio {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}

.tituloInicio {
    font-size: 45px !important;
    font-weight: bolder;
    margin-top: 30px;
    text-align: center; 
    width: 100%; 
    margin-left: -200px;
}

.fondoImagenInicio {
    background-color: burlywood !important;
    width: 100%;
    height: auto; 
    padding: 5px 10px;
    display: flex;
    align-items: center; 
}

.imagenInicio {
    margin-top: 10px;
}

.fondoBotonesInicio {
    background-color: burlywood !important;
    width: 100%;
    height: auto;
    padding: 5px 10px;
}

.botonesInicio {
    margin: 0 10px !important;
    margin-bottom: 5px !important;
    color: black !important; 
    background-color: transparent !important; 
}


/* ESTILOS PAGINA 'NEWS' */
.fondoNews{
    background-color: brown;
}