/* ESTILOS GLOBALES */
.fondoWeb {

}

.fondoHeaders { 
    background-color: burlywood !important;
    width: 100%;
    height: auto; 
    padding: 10px 15px;
}

.tituloHeaders {
    font-size: 45px !important;
    font-weight: bolder;
}


/* ESTILOS PAGINA 'INICIO' */
.fondoTituloInicio {
    display: flex;
    justify-content: center;
    text-align: center;   
}

.tituloInicio {
    font-size: 45px !important;
    font-weight: bolder;
    margin-top: 30px;
    text-align: center; 
    width: 100%; 
    margin-left: -200px;
    margin-bottom: 15px;
}

.fondoImagenInicio {
    background-color: burlywood !important;
    width: 100%;
    height: auto; 
    padding: 5px 10px;
    display: flex;
    align-items: center; 
}

.imagenInicio {
    margin-top: 10px;
}

.fondoBotonesInicio {
    background-color: burlywood !important;
    width: 100%;
    height: auto;
    padding: 5px 10px;
}

.botonesInicio {
    margin: 0 10px !important;
    margin-bottom: 5px !important;
    color: black !important; 
    background-color: transparent !important; 
}

.fondoPersonajesInicio {
    background-color: darkgray !important; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    height: auto; 
    width: fit-content; 
    padding: 5px 5px;
    margin: 20px auto; 
    gap: 25px; 
}

.personajesInicio {
    width: 160px; 
    height: 160px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; 
}

.tituloPersonajesInicio {
    font-size: 25px !important;
    font-weight: bolder;
    margin-top: 10px;
}

.personajesInicio:hover {
    transform: scale(1.05); 
}

.personajeRojo {
    border: 5px solid #ff4c4c !important; 
}

.personajeVerde {
    border: 5px solid #4caf50 !important;  
}



/* ESTILOS PAGINA 'NEWS' */

/* ESTILOS PAGINA 'SUMMONS' */
