/* --------- Styles used globally throughout the project --------- */
.backgroundWeb {
    background-color: aliceblue;
}

.backgroundHeaders { 
    background-color: burlywood !important;
    width: 100%;
    height: auto; 
    padding: 10px 15px;
}

.titleHeaders {
    font-size: 45px !important;
    font-weight: bolder;
}

.spriteOverlayRarity {
    position: absolute;
    bottom: 10px;
    left: -20px;
    z-index: 2;  
}

.spriteOverlayType {
    position: absolute;
    width: 50px;
    bottom: 110px;
    right: 12px;
    z-index: 2; 
}

.spriteOverlayEza {
    position: absolute;
    left: 65px;
    bottom: 13px;
    width: 75px;
    z-index: 2;
}

.spriteOverlaySuperEza {
    position: auto;
    left: 65px;
    bottom: 13px;
    width: 75px;
    z-index: 2;
}

.LR {
    width: 70px;  
}

.UR {
    width: 95px;  
}

.SSR {
    width: 100px;
}

.SR {
    width: auto;
}

.R {
    width: auto;
}

.N {
    width: auto;
}


/* --------- Styles for the page 'INICIO' --------- */
.backgroundTitleInicio {
    display: flex;
    justify-content: center;
    text-align: center;   
}

.titleInicio {
    font-size: 45px !important;
    font-weight: bolder;
    margin-top: 30px;
    text-align: center; 
    width: 100%; 
    margin-left: -200px;
    margin-bottom: 15px;
}

.backgroundImageInicio {
    background-color: burlywood !important;
    width: 100%;
    height: auto; 
    padding: 5px 10px;
    display: flex;
    align-items: center; 
}

.imageInicio {
    margin-top: 10px;
}

.backgroundButtonsInicio {
    background-color: burlywood !important;
    width: 100%;
    height: auto;
    padding: 5px 10px;
}

.buttonsInicio {
    margin: 0 10px !important;
    margin-bottom: 5px !important;
    color: black !important; 
    background-color: transparent !important; 
}

.backgroundTextCharactersInicio {
    text-align: center;
    font-weight: bolder;
    font-size: 30px !important;
    margin-bottom: 10px; 
}

.backgroundCharactersInicio {
    background-color: darkgray !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    position: relative;
    height: auto;
    width: 1000px; 
    padding: 20px 50px;
    margin: 25px auto;   
}

.charactersInicioWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 10px; 
}

.characterBackground {
    position: absolute;
    width: 120px; 
    height: 120px; 
    z-index: 0; 
}

.charactersInicio {
    position: relative;
    width: 145px; 
    height: 145px;
    z-index: 1; 
    right: 13px;
    bottom: 13px;
    transition: transform 0.3s; 
}

.charactersInicio:hover {
    transform: scale(1.03); 
}

.dateContainer {
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    bottom: 25px;
    left: -20px;
}

.dateText {
    display: flex;
    justify-content: center;
    text-align: center; 
    font-weight: bold;
    color: #ffffff !important;
    font-size: 15px !important; 
}


/* --------- Styles for the page 'NEWS' --------- */


/* --------- Styles for the page 'SUMMONS' --------- */


/* --------- Styles for the page '' --------- */


/* --------- Styles for the page 'CHARACTERS-DETAILS' --------- */
.pageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 5% 10%; 
}

.backgroundIconCharactersDetails {
    background-color: darkgray !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    width: 30%;
    display: flex;                
    justify-content: center;      
    align-items: center;
    padding: 10px 200px;
}

.iconCharactersDetails {

}

.backgroundTitleCharactersDetails {
    background-color: darkgray !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: flex;                
    justify-content: center;      
    align-items: center;
    padding: 35px 200px;
}

.titleCharactersDetails {
    margin-top: 20px;
}

.styleTitleCharactersDetails {
    font-size: 30px !important;
    font-weight: bold;
}

.backgroundCardImageCharactersDetails {
    background-color: darkgray !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: flex;                
    justify-content: center;      
    align-items: center;
    padding: 10px 59px;
}

.cardImageCharactersDetails {
    
}

.backgroundInformationCharactersDetails {
    background-color: darkgray !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 20px 20px;
}

.informationCharactersDetails {

}

.styleTitlesInformationCharactersDetails {
    font-size: 30px !important;
    font-weight: bold;
    text-align: center;
}

.styleInformationCharactersDetails {
    font-size: 25px !important;
}






